.parametrosBusqueda, .personasBusqueda, .resultadosBusqueda {
    background-color: white;
    margin: 30px;
    padding: 5px;
    border: 5px solid;
    border-color: #dff7f9;
    border-radius: 2px;
}

.parametrosBusqueda {
    width: 20%;
}
.formularioBusqueda {
}

.resultadosBusqueda {
    background-color: white;
    width: 20%;
    height: 20px;
}

.personasBusqueda {
    background-color: white;
    width: 20%;
    height: 20px;
}

.seccionParametro {

}

.parametrosBusqueda, .resultadosBusqueda, .personasBusqueda {
    display: inline-block;
}
