.banner {
    margin: 8px;
}

.parametrosBusqueda, .personasBusqueda, .resultadosBusqueda {
    background-color: white;
    margin: 0.5%;
    padding: 5px;
    border: 5px solid;
    border-color: #dff7f9;
    border-radius: 2px;
}

.parametrosBusqueda {
    width: 20%;
}

.resultadosBusqueda {
    background-color: white;
    width: 40%;
}

.personasBusqueda {
    background-color: white;
    width: 30%;
}

.parametrosBusqueda, .resultadosBusqueda, .personasBusqueda {
    display: inline-block;
}

.mediosForm {
    background-color: #4285f4;
}

.mediosButtons {
    width: 170px;
    margin: auto;
}

.medioCheckbox {
    display:none;
}

.medioCheckbox + label, .medioCheckbox:checked + label {
    display:inline-block;
    padding: 0 0 0 0px;
    height: 52px;
    width: 51px;;
    background-size: 50%;
}

#coche + label {
    background:url("../images/cochesin.jpg") no-repeat;
}

#coche:checked + label {
    background:url("../images/coche.png") no-repeat;
}

#publico + label {
    background:url("../images/publicosin.png") no-repeat;
}

#publico:checked + label {
    background:url("../images/publico.png") no-repeat;
}

#bici + label {
    background:url("../images/bicisin.png") no-repeat;
}

#bici:checked + label {
    background:url("../images/bici.png") no-repeat;
}

.persona {
    width: 80px;
    height: 40px;
}

#nuevaPersona {
    width: 40px;
    height: 40px;
    position: relative;
    top: 4px
}

.lugarContainer {
    height: 400px;
}

